<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/adm.css">
</head>
<body>
    <header>
        <h1>Blog管理介面</h1>
    </header>
    <div id="main">
        <div id="lside">
            <aside>
                <h4>類別管理</h4>
                <ul>
                    <li><a href="catlist.php">類別列表</a></li>
                    <li><a href="catadd.php">添加類別</a></li>
                </ul>
            </aside>
            <aside>
                <h4>文章管理</h4>
                <ul>
                    <li><a href="artlist.php">文章列表</a></li>
                    <li><a href="artadd.php">發佈文章</a></li>
                    <li><a href="commlist.php">留言列表</a></li>
                </ul>
            </aside>
            <aside>
                <h4>個人中心</h4>
                <ul>
                    <li><a href="">修改密碼</a></li>
                    <li><a href="logout.php">登出</a></li>
                </ul>
            </aside>
        </div>
        <div id="rside">
            <form action="" method="post">
                <div class="form-group">
                    <label>新的類別名稱:</label>
                    <p>
                        <input type="text" name="cat_name" value="<?php echo $cat_name; ?>">
                    </p>
                </div>
                <div class="form-group">
                    <label>&nbsp;</label>
                    <p>
                        <button type="submit">更改</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <footer>
        Copyright &copy; 2015 · GeneratePress · WordPress
    </footer>
</body>
</html>